.categoryContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 70vw;
    height: 60vh;
    margin-right: 15vw;
    
}

.cat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
    
    

}
.item{
    width: 10vw;
    height: 20vh;
    border-top: solid;
    border-width: 1px;
    border-color: rgb(212, 211, 211);
    border-radius: 15px;
    margin-left: 2%;
    display: flex;
    
}
.itemName{
    margin-left: 5vw;
}