.CDLContainer{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    margin-right: 7.5%;
    width: 85%;
    
}
.productitem{
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-width: 1px;
    border-color: rgb(212, 211, 211);
    width: 25vw;
    height: 40vh;
}
.imgProductitem{
    margin-top: 2vh;
    width: 9vw;
    height: 16vh;
}
