.footerContainer{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-right: 7.5%;
    background-color: rgb(253, 253, 253);
    border-top: solid;
    border-width: 1px;
    border-color: rgb(212, 211, 211);
    width: 85%;
}
.abus{
    width: 10vw;
}
.cpr{
    display: flex;
    align-items: center;
}