.headerContainer{
    background-image: url("../../assets/SuperMarket5.jpg");
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: space-around;  
    top: 0;
    left: 0;
    width: 100%;
   transition: background-color 0.6s ease-in-out, height 0.2s linear;
}

.headerContent{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
    
}
.search{
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.category{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #98CCD3; 
    border: none;
    color: #132238;
    padding: 0.5vh 1.5vw;
    text-align: center;
    text-decoration: none;
    font-size: 0.75vw;
    margin:60px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 15px;
    margin-bottom: 4vh;
   
}
.sinput{
    position: relative;
    border-radius: 15px;
    width: 20vw;
    height: 6vh;
    margin-top: 5%;
    opacity: 0.6;
    transition: 0.3s;
    background-color: 98CCD3; 
    border: none;
    color: #132238;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    margin-bottom: -0.75vh;
}
.inputbtn{
    position: absolute;
    margin-right: -4vw;
    margin-top: 3.5vh;
    opacity: 0.4;
    transition: 0.3s;
    background-color: #132238; 
    border: none;
    color: #98CCD3;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}
.hover:hover {opacity: 1}

.btnContainer{
    display: flex;
    flex-direction: row;
}
.basketbtn{
    background-color: #98CCD3; 
    border: none;
    color: #132238;
    padding: 0.5vh 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.10vw;
    margin:60px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 15px;
    margin-right:2vw ;
    
}
