.flexcontainer {
  display: flex;
  flex-wrap: nowrap;
  background-color: #98CCD3;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 45vh;
  margin-right: 15vw;
  border-radius: 15px;
  }
  .product-slider{
    display: flex;
    flex-direction: row;
  }
  .price{
    margin-left: 2vw;
    color: #364E68;
  }
  .productcontainer{
    background-color: aliceblue;
    border-top: solid;
    border-width: 1px;
    border-color: rgb(212, 211, 211);
    border-radius: 15px;
    margin-left: 2%;
    
  }
  
  .image{
    width: 10vw;
    height: 10vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
  }
  .buybtn{
    background-color: #364E68; 
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
   
  }
  .btn:hover{
    
    box-shadow: 0 12px 16px 0 rgb(255, 255, 255), 0 17px 50px 0 rgb(255, 255, 255);
    
  }
  .slideshow-controls{
    margin-right: 2vw;
  }