.introdashboardContainer{
    width: 85%;
    display: flex;
    margin-right: 7.5%;
}
.logoutOption{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;

}
.dashboardData{
    width:95% ;
    background-color: rgb(42, 93, 165);
    display: flex;
}
