.introdashboardContainer{
    width: 85%;
    background-color: brown;
    display: flex;
    margin-right: 7.5%;
}
.logoutOption{
    display: flex;
    flex-direction: column;

}
.intro{
    width:85% ;
    background-color: rgb(42, 93, 165);
    display: flex;
}
